.footer {
    border: 1px solid blue;
    background-color: black;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80px;

    .footer-nav {
        width: 20%;
        display: flex;
        justify-content: center;
        justify-content: space-evenly;
        margin: 0% 0% 0.5%;

        a{
            font-size: 1.6em;
            text-decoration: none;
            color: #ECA564;
        }
    }

    .copyright {        
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        font-size: 1.8rem;
        text-decoration: none;
        color: #ECA564;
    }
}