.footer {
    background-color: black;
    .center();
    flex-direction: column;
    height: 25vh;
    width: 100vw;

    .footer-nav {
        width: 80vh;
        .center();
        justify-content: space-evenly;
        margin: 0% 0% 0.5%;

        a{
            font-size: 1.6em;
            text-decoration: none;
            color: @main-color;
            margin: 0 0 5%;
        }
    }

    .copyright {        
        .center();
        width: 100%;
        font-size: 1.8rem;
        text-decoration: none;
        color: @main-color;
    }
}