.map-image {
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    .center();

    .home-top {
        display: flex;
        flex-direction: column;
        width: 100%;
        font-weight: bold;

    
        h2 {
            .center();
            margin: 3.5% 0%;
            z-index: 100;
        }
    
        .search-container {      
            .center();
    
            input{
                width: 40%;
                height: 40px;
                font-size: 2.0rem;
                padding: 1% 2%;
            }
        }
    
        h3 {
            .center();
            margin: 3.5% 0%;
        }
    
    }

}
