.header {
    display: flex;
    background-color: black;
    height: 80px;
    width: 100%;
    justify-content: space-evenly;

    .main-nav {
        width: 30%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 33%;
            font-size: 2.0rem;
            text-decoration: none;
            color: #ECA564;
            text-shadow: 1px 9px 9px #F7CE74;
        }
    }

    .logo-container {
        width: 30%;
        display: flex;
        justify-content: center;
        
        .main-title {
            color: #ECA564;
            text-shadow: 1px 9px 9px #F7CE74;
            display: flex;
            align-items: center;
            margin: 0% 2%;
        }

        .logo {
            width: 120px;
            height: 100%;
            margin: 0% 2%;
        }

    }
    
    .button-container {
        width: 25%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        button {
            height: 40%;
            width: 30%;
            font-size: 1.6rem;
            color: black;
            background-color: #ECA564;
            border: 5px solid #F7CE74;
            border-style: outset;
        }
    }
}